{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block content %}
<section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>SSL Shop</strong></h3>
      <h1>Our Services</h1>
    
      <a href="#services" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->
{% endblock content %}

{% block service %}
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">
        

      <div class="section-title">
        <h2>Services</h2>
        <h3>We do offer awesome <span>Services</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
     
      <div class="row">
        {% for info in service_data %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">{{info.service_name}}</a></h4>
            <p class="description">{{info.service_desc}}</p>
            
        
          
        </div>
       
       
    
    </div>
    {% endfor %}
    
        
    
    
  </section><!-- End Services Section -->

 
  {% endblock service %}